<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
        }

        h2 {
            margin-bottom: 20px;
        }

        input[type="text"],
        input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .login-button {
            background-color: #007BFF;
            color: white;
            border: none;
            margin-top:10px;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            width: calc(100% - 20px);
        }
        .register-button {
            background-color: #800080; /* Purple color */
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            width: calc(100% - 20px);
            margin-top: 10px;
        }

        .error-message {
            color: red;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Login</h2>
        <% if (message) { %>
            <div class="error-message">
                <%= message %>
            </div>
            <% } %>
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button class='login-button' type="submit">Login</button>
                </form>
                <form action="/register" method="GET">
                    <button type="submit" class="register-button">Register</button>
                </form>

    </div>
</body>

</html>