<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
        }

        h2 {
            margin-bottom: 20px;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"],
        .register-button {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"] {
            width: calc(100% - 20px);
        }

        .register-button {
            background-color: #800080;
            /* Purple color */
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            width: 100%;
        }

        .error-message {
            color: red;
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="Username" pattern="[a-zA-Z0-9]+" title="영어, 숫자만 사용할 수 있습니다."
                required>
            <input type="password" name="password" placeholder="Password"
                pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]+$" title="영어, 숫자, 특수기호(!@#$%^&*)를 포함해야 합니다."
                required>
            <input type="email" name="email" placeholder="Email" required>

            <button class="register-button" type="submit">Register</button>

        </form>
        <% if (message) { %>
            <div class="error-message">
                <%= message %>
            </div>
            <% } %>
    </div>
</body>

</html>